[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}

[dev-packages]
mypy = "*"

[requires]
python_version = "3.8"

[scripts]
"dev:server" = "python server.py"
"dev:gen_sites" = "python scripts/generator.py"
