<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Tower 360
        </h1>
        <h2 class="subtitle">
          Tickets, Maintenance, Status, Health-checks
        </h2>
      </div>
    </div>
  </section>
  
<div class="container">
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <form action="<%= form_url %>" method="POST">
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" type="text" name="site_id" id="site_id" placeholder="123456">
                        </div>
                        <div class="control">
                            <button class="button is-info" type="submit">
                            Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>