<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Rebase - Central | <%= title %></title>
    <link rel="stylesheet" href="../static/dist/index.css">
</head>
<body>
    <p style="font-size:100px">&#129409;</p>
    <form action="<%= form_url %>" method="POST" target='_blank'>
        <input type="text" name="site_id" id="site_id">
        <button type="submit">Search</button>
    </form>
</body>
</html>







